# Dependencies
**/node_modules/

# Artifacts
**/coverage/
**/dist/
**/temp/*.api.md
**/*.tsbuildinfo
/log/
apps/*/log_*.json
apps/sampler/rate.csv

# Local runtime config files
/config/

# Local scratch files
.scratch/
/private/
